/* GLOBALS */

* {
    font-weight: 400;
    color: #383838;
}

hr {
    border: 1px solid#dddddd;

}


 h3 {
    font-size: 1.5rem;
    padding-left: 1rem;
}





/* SIDEBAR  START*/

.sidebar {
    position: fixed;
    top: 0;
    width: 15%;
    height: 100%;
    padding: 0.5rem 0.5rem;
    color: rgba(255, 255, 255, .5);
    background-color: #ffffff;
    border-right: 2px solid#dddddd;
}

.profile h3 {
    display: inline-block;
    font-size: 1.5rem;
    color: #5376f4;

}

.profile-link {
    text-decoration: none;
}

.avatar {
    float: left;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;

}

.logout {
    float: right;
    padding: 23px;
}




.common ul {
    list-style: none;
    font-size: 1.3rem;
    padding-bottom: 2rem;

}

.common li {
    padding: 1rem 1rem;
    color: #3b3b3b;
}

.common ul li:before {
    content: '#';
    color: #7c7c7c;
    font-size: 1.5rem;

}

/* SIDEBAR END */


/* INPUT  START*/

.text-entry {
    width: 83%;
    display: block;
    margin-left: 16%;
    position: fixed;
    bottom: 0;
    border: solid 10px #dddddd;
}

.text-entry textarea {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 14px 12px;
    width: 74%;
    position: fixed;
    float: left;
    resize: none;
}

.send-button {
    float: right;
    width: 9%;
    padding: 3px 2px;
    background-color: #5376f4;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;
    border: 2px solid #5376f4;



}

/* INPUT  END*/

/* MESSAGE DISPLAY AREA  START*/

.text-display-area {
    width: 77%;
    height: 95%;
    background-color: white;
    display: block;
    right: 0;
    position: fixed;
    margin: 0;
    word-wrap: break-word;
    overflow: auto;

}

.sender {
    max-width: 50%;
    width: auto;

    /*max-height: 45%;*/
    height: auto;

    word-wrap: break-word;
    color: white;
    padding: 0.5rem 0.5rem;
    background-color: #5376f4;
    display: block;
    float: right;
    margin-left: 70%;
    margin-right: 1%;
    margin-top: 1%;

    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-left-radius: 15px;
}

.sender-name {
    margin-left: 30%;
    margin-right: 2%;
    padding: 2px 2px;
    color: #7c7c7c;
    display: block;
    float: right;
}


.recver {
    max-width: 50%;
    width: auto;

    /*max-height: 45%;*/
    height: auto;

    word-wrap: break-word;
    color: white;
    padding: 0.5rem 0.5rem;
    background-color: #3d3d3d;
    display: block;
    float: left;
    margin-left: 1%;
    margin-right: 70%;
    margin-top: 1%;
    left: 0;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-left-radius: 15px;
}

.recver-name {
    margin-right: 30%;
    margin-left: 2%;
    padding: 2px 2px;
    color: #7c7c7c;
    display: block;
    float: left;
}

/* MESSAGE DISPLAY AREA  END*/

/* USER LIST START */



.userlistdiv{
    overflow-y: auto;
    overflow-x: hidden;
    height: 28rem;
    width: 102%;
    margin:0;
    padding:0;

}


#custom-scroll::-webkit-scrollbar {
    width: 8px;
}
 
#custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(14, 165, 253, 0.3);
    border-radius: 10px;

}
 
#custom-scroll::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  outline: 1px solid rgb(7, 112, 216);
  border-radius: 20px;

}

.userlist li {
    list-style: none;
    padding:0;
    margin:0;
    

}

.default {
    border : 2px solid #dddddd;
    border-left:none;
    border-right:none;
    background-color: white;
    padding-top:30px;
    padding-bottom:30px;
    width: 100%;
    padding-left: 10%;
    text-align:left;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}

.userlist button:focus {
   outline:none;
}


.active {
    background-color:#ececec;
    border : 2px solid #dddddd;
    border-left:none;
    border-right:none;
    padding-top:30px;
    padding-bottom:30px;
    width: 100%;
    padding-left: 10%;
    text-align:left;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}




.defaultDisplay {
    width: 85%;
    height: 0%;
    background-color: white;
    display: block;
    right: 0;
    position: fixed;
    word-wrap: break-word;
    text-align: center;
    color: #dddddd;
    font-size: 5rem;
    margin-top: -40%;
}






/* USER LIST END */
