<div class="sidebar">
  <div class="container">
    <div *ngIf="user">
      <div class="profile">

        <a class="profile-link" href="/profile">
          <img class="avatar" src="../../../assets/avatar.png" style="width:35px;height:35px;border:0;">
          <h3>{{user.name}}</h3>
        </a>

        <a (click)="onLogoutClick()" href="#">
          <img class="logout" src="../../../assets/logout_icon.png" style="width:35px;height:35px;border:0;">
        </a>

      </div>
<br>
<hr>

      <div class="common">
        <h3>Chat-Rooms</h3>
        <ul>
          <li> General</li>
          <li> Programming</li>
          <li> Music</li>
          <li> Video Games</li>



        </ul>
        <hr>
        <h3>Direct Message</h3>
      </div>

    </div>

  </div>

</div>

  <ul class="text-display-area">
      <li *ngFor="let chat of chats" class="sender" >
        {{chat.sender}}
      </li>
  </ul>


<div>

  <form class="text-entry">

    <input type="text" autocomplete="off" [(ngModel)]="message" name="message" ><button type="submit" (click)="sendMessage()" class="send-button" > ⇒ </button>
  </form>
</div>