* {
    font-weight: 400;
    color: #383838;
}

hr {
    border: 1px solid#dddddd;

}

.sidebar {
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    padding: 0.5rem 0.5rem;
    color: rgba(255, 255, 255, .5);
    background-color: #ffffff;
    border-right: 2px solid#dddddd;
}

.profile h3 {
    display: inline-block;
    font-size: 1.8rem;
    color: #5376f4;

}
.profile-link {
    text-decoration: none;
}

.avatar {
    float: left;
    padding: 2rem 1rem;
}

.logout{
    float:right;
    padding: 2rem 1rem;
    font-size: 30px;
}




.common h3 {
    font-size: 1.5rem;
    padding-left: 1rem;
}

.common ul {
    list-style: none;
    font-size: 1.3rem;
    padding-bottom: 2rem;

}
.common li {
    padding: 1rem 1rem;
    color: #3b3b3b;
}

.common ul li:before {
    content: '#';
    color: #7c7c7c;
    font-size: 1.5rem;

}













.text-entry {
    width: 79%;
    display: block;
    float: right;
    margin-left: 21%;
    position: fixed;
    bottom: 0;
    float: left;
}

.text-entry input {
    border-top: 2px solid#dddddd;
    border-left: solid #ffffff;
    padding: 13px 12px;
    width: 70.5%;
    position: fixed;
    float: left;
}

.send-button {
    float: right;
    width: 9%;
    padding: 2px 2px;
    background-color: #5376f4;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;


}

/*form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }*/